aside {
  width: 250px;
  height: 100%;
  position: fixed;
  background-color: #333;
  padding-top: 20px;
  color: #fff;
  transition: width 0.3s;
  overflow-x: hidden;
}

aside.collapsed {
  width: 80px;
}

.toggle-btn {
  border: none;
  background: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.user-profile img {
  margin-top: 8%;
  width: 45px;
}

.user-profile h5 {
  margin-bottom: 20px;
}

.nav-link {
  color: #fff !important;
}

.nav-item {
  padding: 8px 0;
}

.sidebar-wrapper {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #f2990b,
    #f59d18,
    #f8a021,
    #fba429,
    #fea830
  );
}

.sidebar-wrapper ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sidebar-wrapper ul li {
  list-style: none;
  margin: 0px;
  padding: 10px;
}
.mr-0 {
  margin: 0px;
}

.logout-btn {
  position: absolute;
  bottom: 30px;
}

.active-link {
  background-color: #fea830;
}
