<div class="container col-md-2">
  <h1>Logo</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="
          loginForm.get('email')!.hasError('required') &&
          (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)
        "
      >
        Email is required.
      </div>
      <div
        *ngIf="
          loginForm.get('email')!.hasError('email') &&
          (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)
        "
      >
        Invalid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <div
        *ngIf="
          loginForm.get('password')!.hasError('required') &&
          (loginForm.get('password')!.dirty ||
            loginForm.get('password')!.touched)
        "
      >
        Password is required.
      </div>
      <div
        *ngIf="
          loginForm.get('password')!.hasError('pattern') &&
          (loginForm.get('password')!.dirty ||
            loginForm.get('password')!.touched)
        "
      >
        Password must contain at least 8 characters, including one letter and
        one number.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="alertMessage" class="alert alert-warning">
    {{ alertMessage }}
  </div>
</div>
