<div class="page-bg">
  <div class="">
    <div class="row">
      <div class="col-md-6 pd-0">
        <img src="../../assets/isavemoneygo-budget-planer.png" alt="" />
        <!-- <img src="../../assets/homepage-img.png" alt="" /> -->
      </div>
      <div class="col-md-6 pd-0 heading">
        <div class="">
          <h2>PurseGuard</h2>
          <h4 class="pd-0 col-md-8">
            Empower your finances, effortlessly. PurseGuard - Your Personal
            Budget Guardian.
          </h4>
          <div class="btn-wrapper">
            <button class="log" (click)="redirectToLoginPage()">Login</button>
            <button class="reg" (click)="redirectToSignUpPage()">
              Sign up
            </button>
          </div>
        </div>
        <!-- <img src="../../assets/isavemoneygo-budget-planer.png" alt="" /> -->
      </div>
    </div>

    <!-- Signup Modal -->
    <div
      class="modal fade"
      id="signupModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="signupModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content"><app-signup-page></app-signup-page></div>
      </div>
    </div>

    <!-- Login Modal -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="loginModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
          <app-login-page></app-login-page>
        </div>
      </div>
    </div>
  </div>
</div>
