<!-- <div class="">
  <div class="row">
    <div class="col-md-3">
      <div class="bg-primary text-white p-3 height-96">
        <aside id="sidebar bg-primary">
          <app-sidebar></app-sidebar>
        </aside>
      </div>
    </div>
    <div class="col-md-8">
      <div class="color-black p-3 height-96">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid pd-0 dashboard-layout">
  <div class="row">
    <div class="col-md-3 h-100vh">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="color-black p-3 height-96">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
