<!-- <div class="container col-md-2">
  <h1>Logo</h1>
  <div class="">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
        <div
          *ngIf="
            signupForm.get('name')?.hasError('required') &&
            signupForm.get('name')?.touched
          "
        >
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="
            signupForm.get('email')?.hasError('required') &&
            signupForm.get('email')?.touched
          "
        >
          Email is required.
        </div>
        <div
          *ngIf="
            signupForm.get('email')?.hasError('email') &&
            signupForm.get('email')?.touched
          "
        >
          Invalid email address.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <div
          *ngIf="
            signupForm.get('password')?.hasError('required') &&
            signupForm.get('password')?.touched
          "
        >
          Password is required.
        </div>
        <div
          *ngIf="
            signupForm.get('password')?.hasError('minlength') &&
            signupForm.get('password')?.touched
          "
        >
          Password must be at least 8 characters long.
        </div>
        <div
          *ngIf="
            signupForm.get('password')?.hasError('pattern') &&
            signupForm.get('password')?.touched
          "
        >
          Password must contain at least one letter and one number.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <div
          *ngIf="
            signupForm.hasError('mismatch') &&
            signupForm.get('confirmPassword')?.touched
          "
        >
          Passwords do not match.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div> -->

<!-- <div class=" ">
  <h1>Logo</h1>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Login Page</h3>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="
          loginForm.get('email')!.hasError('required') &&
          (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)
        "
      >
        Email is required.
      </div>
      <div
        *ngIf="
          loginForm.get('email')!.hasError('email') &&
          (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)
        "
      >
        Invalid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
      <div
        *ngIf="
          loginForm.get('password')!.hasError('required') &&
          (loginForm.get('password')!.dirty ||
            loginForm.get('password')!.touched)
        "
      >
        Password is required.
      </div>
      <div
        *ngIf="
          loginForm.get('password')!.hasError('pattern') &&
          (loginForm.get('password')!.dirty ||
            loginForm.get('password')!.touched)
        "
      >
        Password must contain at least 8 characters, including one letter and
        one number.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="alertMessage" class="alert alert-warning">
    {{ alertMessage }}
  </div>
</div> -->

<div class="login_container">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" role="form">
    <header class="heading">
      <h2>PurseGuard</h2>
      <h4 class="">Signup Page</h4>
    </header>

    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" aria-required="true" />
    <div
      *ngIf="
        signupForm.get('name')?.hasError('required') &&
        signupForm.get('name')?.touched
      "
    >
      Name is required.
    </div>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      aria-required="true"
    />
    <div
      *ngIf="
        signupForm.get('email')?.hasError('required') &&
        signupForm.get('email')?.touched
      "
    >
      Email is required.
    </div>
    <div
      *ngIf="
        signupForm.get('email')?.hasError('email') &&
        signupForm.get('email')?.touched
      "
    >
      Invalid email address.
    </div>

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      aria-required="true"
    />
    <div
      *ngIf="
        signupForm.get('password')?.hasError('required') &&
        signupForm.get('password')?.touched
      "
    >
      Password is required.
    </div>
    <div
      *ngIf="
        signupForm.get('password')?.hasError('minlength') &&
        signupForm.get('password')?.touched
      "
    >
      Password must be at least 8 characters long.
    </div>
    <div
      *ngIf="
        signupForm.get('password')?.hasError('pattern') &&
        signupForm.get('password')?.touched
      "
    >
      Password must contain at least one letter and one number.
    </div>

    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword"
      aria-required="true"
    />
    <div
      *ngIf="
        signupForm.hasError('mismatch') &&
        signupForm.get('confirmPassword')?.touched
      "
    >
      Passwords do not match.
    </div>

    <button type="submit" class="log">Signup</button>
    <br />
    <p class="text-center pdt-15">
      Already a member? Please click here to login
    </p>
    <button class="signup-btn" (click)="redirectToLoginPage()">Login</button>
  </form>
</div>
