<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog color-black" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" (click)="resetValues()">
          Add Expense
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name of Expense:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>

          <div class="form-group">
            <label for="category">Category:</label>
            <select
              class="form-control"
              id="category"
              formControlName="category"
            >
              <option value="" disabled>Select a category</option>
              <option *ngFor="let cat of categories" [value]="cat">
                {{ cat }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="selectedMonth">Select a Month:</label>
            <select
              class="form-control"
              id="selectedMonth"
              formControlName="month"
            >
              <option value="" disabled>Select a Month</option>
              <option *ngFor="let month of months" [value]="month">
                {{ month }}
              </option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="selectedMonth">Select a Month:</label>
            <select id="selectedMonth" formControlName="selectedMonth">
              <option [value]="month" *ngFor="let month of months">
                {{ month }}
              </option>
            </select>
          </div> -->

          <div class="form-group">
            <label for="amount">Amount:</label>
            <input
              type="text"
              class="form-control"
              id="amount"
              formControlName="amount"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-right">
    <div class="col-md-11">
      <button
        type="button"
        class="btn btn-primary float-right"
        data-toggle="modal"
        data-target="#myModal"
      >
        Add Expense
      </button>
    </div>
  </div>
  <div class="row pdt-35 stats">
    <div class="card blue col-md-3">
      <div class="title">Expense Limit</div>
      <i class="zmdi zmdi-upload"></i>
      <div class="value">${{ expenseLimit }}</div>
    </div>
    <div class="card green col-md-3">
      <div class="title">Money Spent</div>
      <i class="zmdi zmdi-upload"></i>
      <div class="value">${{ totalAmount }}</div>
    </div>
    <div class="card orange col-md-3">
      <div class="title">Balance Left</div>
      <i class="zmdi zmdi-upload"></i>
      <div class="value">${{ balanceLimit }}</div>
    </div>
  </div>
  <div class="row pdt-35">
    <div class="card col-md-8">
      <ngx-datatable
        class="bootstrap datatable"
        [rows]="ExpenseList"
        [headerHeight]="50"
        [footerHeight]="50"
      >
        <ngx-datatable-column name="Name" [flexGrow]="5">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Category" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Amount" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            ${{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Actions" prop="_id" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <button
              type="button"
              class="table-btn"
              data-toggle="modal"
              data-target="#myModal"
              (click)="editExpense(value)"
            >
              <i class="bi bi-pencil-square"> </i>
            </button>

            <button class="table-btn" (click)="deleteExpense(value)">
              <i class="bi bi-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template>
            test
            <button>
              <i class="bi bi-pencil-square"></i>
            </button>
            <button>
              <i class="bi bi-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
      <span class="text-center table-footer">
        You can sort and resize columns of the table by clicking on the selected
        column !
      </span>
    </div>
    <div class="card col-md-3">
      <div class="row">
        <canvas #pieChart></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-4">
      <div class="chart-container">
        <canvas #radialChart></canvas>
      </div>
    </div>
    <div class="card col-md-7">
      <div class="chart-container">
        <canvas #myCanvas height="250px"></canvas>
      </div>
    </div>
  </div>
</div>
